<p><%= todo_item.content %></p>
<%= link_to "Delete", my_list_todo_item_path(@my_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } %>



<%= link_to "Mark as Complete", complete_my_list_todo_item_path(@my_list, todo_item.id), method: :patch %>